@charset "UTF-8";
@import url("../css/nullstyle.css");
:root {
  --bg: #cfc8c2;
  --title-text: #1B1B1D;
  --text: #64646A;
  --basic: #2c4e46;
  --back: #d9d3d3;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45;
  color: var(--title-text);
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  min-width: 180px;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  background-size: 300% 100%;
  background-image: linear-gradient(76.3deg, rgb(69, 131, 123) 12.6%, rgb(44, 78, 70) 82.8%);
  box-shadow: 0 4px 15px 0 rgba(64, 80, 110, 0.39);
}
.btn:hover {
  box-shadow: 0 4px 15px 0 rgba(27, 33, 44, 0.39);
  background-position: 100% 0;
}

.img {
  max-width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .title {
    font-size: 27px;
  }
}

.header {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
@media (max-width: 1100px) {
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(17.3px);
    -webkit-backdrop-filter: blur(17.3px);
    z-index: 6;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 20px;
  position: relative;
  z-index: 6;
}
.header__link {
  color: var(--title-text);
  position: relative;
  transition: all 0.3s ease-in-out;
}
.header__link:hover {
  color: var(--basic);
}
@media (max-width: 1100px) {
  .header__button {
    margin-left: auto;
    margin-right: 20px;
  }
}
.header__btn {
  position: relative;
  z-index: 6;
}
@media (max-width: 650px) {
  .header__btn {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    border-radius: 0;
    padding: 15px 40px;
  }
  .header__btn.active {
    bottom: 0;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 1100px) {
  .header__burger {
    display: block;
    position: relative;
    height: 5px;
    width: 60px;
    z-index: 50;
    transition: all 0.3s ease;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    height: 5px;
    background-image: linear-gradient(76.3deg, rgb(69, 131, 123) 12.6%, rgb(44, 78, 70) 82.8%);
    margin: auto;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .header__burger::before {
    top: 5px;
    right: 0;
    width: 75%;
    transform-origin: right;
  }
  .header__burger::after {
    bottom: 5px;
    right: 0;
    width: 100%;
    transform-origin: right;
  }
  .header__burger.active::after {
    width: 75%;
  }
  .header__burger.active::before {
    width: 100%;
  }
}

.menu {
  position: relative;
  z-index: 6;
}
@media (max-width: 1100px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(47.3px);
    -webkit-backdrop-filter: blur(17.3px);
    padding: 100px 15px 0 0;
    overflow: auto;
    transition: all 0.3s ease-in-out;
    z-index: 5;
  }
}
.menu.active {
  right: 0;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1100px) {
  .menu__list {
    display: block;
    text-align: right;
  }
}
@media (max-width: 1100px) {
  .menu__item {
    margin-bottom: 30px;
    display: block;
  }
}
.menu__link {
  color: var(--title-text);
  position: relative;
}
.menu__link:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 3px;
  /*задаём ширину линии*/
  background: linear-gradient(76.3deg, rgb(69, 131, 123) 12.6%, rgb(44, 78, 70) 82.8%);
  /*задаём цвет линии*/
  transition: all 0.3s ease-in-out;
}
.menu__link:hover:after, .menu__link:focus:after {
  width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
@media (max-width: 1100px) {
  .menu__link {
    font-size: 32px;
  }
}
@media (max-width: 570px) {
  .menu__link {
    font-size: 27px;
  }
}

@media (max-width: 600px) {
  .menu__item:nth-child(6) {
    margin-bottom: 60px;
  }
}

.home {
  background: url("../img/bg.jpg"), var(--bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 450px;
  padding-bottom: 150px;
  position: relative;
}
@media (max-width: 768px) {
  .home {
    padding-bottom: 50px;
  }
}
.home__bg {
  display: none;
}
@media (max-width: 900px) {
  .home__bg {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5333333333);
    z-index: 1;
  }
}
.home__inner {
  padding-top: 175px;
  display: flex;
  z-index: 2;
  position: relative;
  justify-content: space-around;
}
@media (max-width: 900px) {
  .home__inner {
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
  }
}
@media (max-width: 550px) {
  .home__inner {
    padding-top: 115px;
  }
}
.home__items {
  flex: 0 1 50%;
}
@media (max-width: 900px) {
  .home__items {
    flex: 0 1 100%;
    text-align: center;
    margin-bottom: 50px;
  }
}
.home__suptext {
  margin-bottom: 10px;
  font-size: 16px;
}
.home__suptext span {
  font-size: 20px;
  font-weight: 700;
}
.home__title {
  font-family: "Yanone Kaffeesatz";
  font-weight: 700;
  font-size: 100px;
  line-height: 1;
  margin-bottom: 50px;
}
.home__title span {
  background-image: linear-gradient(76.3deg, rgb(69, 131, 123) 12.6%, rgb(44, 78, 70) 82.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1400px) {
  .home__title {
    font-size: calc(60px + 40 * (100vw - 900px) / 500);
  }
}
@media (max-width: 900px) {
  .home__title {
    font-size: calc(45px + 55 * (100vw - 320px) / 580);
  }
}
.home__item {
  text-align: left;
}
@media (max-width: 900px) {
  .home__item {
    margin: 0 0 50px;
    max-width: 400px;
  }
}
.home__item p {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 16px;
}
.home__item p::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  background-image: linear-gradient(76.3deg, rgb(69, 103, 131) 12.6%, rgb(44, 62, 78) 82.8%);
  box-shadow: 0 0 8px var(--basic);
  border-radius: 50%;
}
.home__button {
  margin-top: 50px;
}
@media (max-width: 900px) {
  .home__image {
    display: none;
  }
}
.home__image-min {
  display: none;
}
@media (max-width: 900px) {
  .home__image-min {
    display: block;
  }
}
.home__img {
  opacity: 0.9;
  width: 450px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3960784314);
}
@media (max-width: 900px) {
  .home__img {
    width: 600px;
  }
}
@media (max-width: 900px) {
  .home__link {
    width: 250px;
    padding: 15px 20px;
  }
}
@media (max-width: 500px) {
  .home__link {
    width: 100%;
  }
}

.advantages {
  padding: 100px 0;
  background: rgba(44, 78, 70, 0.0901960784);
}
@media (max-width: 768px) {
  .advantages {
    padding: 50px 0;
  }
}
.advantages__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}
@media (max-width: 1000px) {
  .advantages__row {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 850px) {
  .advantages__row {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {
  .advantages__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .advantages__row {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
.advantages__column {
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  .advantages__column {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0352941176);
    padding-bottom: 10px;
  }
}
.advantages__item {
  text-align: center;
}
.advantages__item span {
  position: absolute;
  top: -100px;
  right: -30px;
  font-size: 240px;
  opacity: 0.023;
  font-weight: 700;
  font-family: "Yanone Kaffeesatz";
  z-index: -1;
}
.advantages__image {
  margin-bottom: 20px;
}
.advantages__img {
  width: 100px;
}
.advantages__text {
  font-size: 18px;
  line-height: 1.2;
}

.enterprise {
  padding: 100px 0;
  background: url("../img/bg-e.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .enterprise {
    padding: 50px 0;
  }
}
.enterprise__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 1150px) {
  .enterprise__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 735px) {
  .enterprise__row {
    grid-template-columns: repeat(1, 1fr);
  }
}
.enterprise__column {
  background-color: rgba(44, 78, 70, 0.1450980392);
  border-radius: 50px 50px 50px 0;
  display: flex;
}
@media (max-width: 450px) {
  .enterprise__column {
    border-radius: 20px 20px 20px 0;
  }
}
.enterprise__item {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 450px) {
  .enterprise__item {
    padding: 10px;
  }
}
.enterprise__image {
  overflow: hidden;
  width: 100%;
  height: auto;
  max-height: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 50px 50px 50px 0;
}
@media (max-width: 735px) {
  .enterprise__image {
    height: auto;
    overflow: auto;
    max-height: 100%;
  }
}
@media (max-width: 450px) {
  .enterprise__image {
    border-radius: 20px 20px 20px 0;
  }
}
.enterprise__img {
  transition: all 0.3s ease-in-out;
}
.enterprise__item--titile {
  font-weight: 700;
  font-size: 22px;
  min-height: 60px;
  margin-bottom: 12px;
}
@media (max-width: 450px) {
  .enterprise__item--titile {
    font-size: 20px;
  }
}
.enterprise__item--text {
  font-size: 16px;
  margin-bottom: 10px;
  flex: 1 1 auto;
}
.enterprise__item--text span {
  font-weight: 700;
}

.enterprise__column:hover .enterprise__img {
  transform: scale(1.05);
}

.gallery {
  padding: 100px 0;
  background: rgba(44, 78, 70, 0.062745098);
}
@media (max-width: 768px) {
  .gallery {
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  .gallery__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 380px) {
  .gallery__title {
    font-size: 22px;
  }
}
.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
@media (max-width: 1000px) {
  .gallery__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .gallery__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 550px) {
  .gallery__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.gallery__slide {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.gallery__slide:hover .gallery__img {
  opacity: 0.5;
}
.gallery__slide:hover .gallery__item--text {
  opacity: 1;
}
.gallery__img {
  transition: all 0.3s ease-in-out;
  border-radius: 30px 30px 30px 0;
  box-shadow: 2px 2px 8px rgba(27, 27, 29, 0.2196078431);
}
.gallery__item--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  color: var(--title-text);
  padding: 10px;
  border: 1px solid var(--title-text);
  border-radius: 20px 20px 20px 0;
}
.gallery__item--text:hover {
  box-shadow: 0 0 15px #fff;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
}

.order {
  padding: 100px 0;
  background: url("../img/background28.jpg");
  background-position: center;
  text-align: center;
}
@media (max-width: 768px) {
  .order {
    padding: 50px 0;
  }
}
.order__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  padding-top: 50px;
}
@media (max-width: 1000px) {
  .order__row {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 850px) {
  .order__row {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {
  .order__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .order__row {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
.order__column {
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  .order__column {
    padding-bottom: 10px;
  }
}
.order__item {
  text-align: center;
}
.order__item span {
  position: absolute;
  top: -80px;
  right: -20px;
  font-size: 120px;
  opacity: 0.05;
  font-weight: 700;
  font-family: "Yanone Kaffeesatz";
  z-index: 1;
  border: 1px solid #1b1b1d;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order__image {
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
}
.order__img {
  width: 100px;
}
.order__text {
  font-size: 18px;
  line-height: 1.2;
}
.order__link {
  padding: 20px 50px;
  width: 400px;
  font-size: 24px;
  display: inline-block;
  margin-top: 50px;
}
@media (max-width: 550px) {
  .order__link {
    width: 100%;
    font-size: 20px;
  }
}

.price {
  padding: 100px 0;
  background: rgba(44, 78, 70, 0.0274509804);
}
@media (max-width: 768px) {
  .price {
    padding: 50px 0;
  }
}
@media (max-width: 550px) {
  .price__title {
    margin-bottom: 30px;
  }
}
.price__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
@media (max-width: 1000px) {
  .price__inner {
    flex-direction: column;
    gap: 20px;
  }
}

.price-table {
  flex: 0 1 50%;
  box-shadow: 0 0 10px rgba(27, 27, 29, 0.3294117647);
}
@media (max-width: 1000px) {
  .price-table {
    width: 100%;
  }
}

.price-info {
  flex: 0 1 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px 20px 20px 0;
  box-shadow: 0 0 10px rgba(27, 27, 29, 0.0470588235);
  border-right: rgba(8, 96, 76, 0.4431372549) 3px solid;
  border-top: rgba(8, 96, 76, 0.4431372549) 3px solid;
}
@media (max-width: 1000px) {
  .price-info {
    border-radius: 0px 0px 20px 20px;
  }
}
@media (max-width: 550px) {
  .price-info {
    font-size: 16px;
  }
}
.price-info__title {
  font-size: 30px;
  margin-bottom: 30px;
}
.price-info__descr {
  margin-bottom: 10px;
}
.price-info__text {
  padding-left: 30px;
  position: relative;
  margin-bottom: 10px;
}
.price-info__text::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background-image: linear-gradient(76.3deg, rgb(69, 103, 131) 12.6%, rgb(44, 62, 78) 82.8%);
  box-shadow: 0 0 8px var(--basic);
  border-radius: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}
@media (max-width: 1000px) {
  table {
    max-width: 100%;
  }
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px 8px 8px 12px;
  text-align: left;
  font-size: 20px;
}
@media (max-width: 450px) {
  th,
  td {
    font-size: 19px;
  }
}

td {
  font-size: 17px;
}

th {
  background-color: #b1d4cc;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

tr:hover {
  background-color: rgba(166, 221, 198, 0.2823529412);
}

.type {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .type {
    padding: 50px 0;
  }
}
@media (max-width: 600px) {
  .type__title {
    margin-bottom: 30px;
  }
}
.type__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  background-color: rgba(44, 78, 70, 0.1098039216);
  padding: 50px 100px;
  border-radius: 0px 50px 0 50px;
  border-top: rgba(8, 96, 75, 0.1490196078) 3px solid;
  border-bottom: rgba(8, 96, 75, 0.1490196078) 3px solid;
}
@media (max-width: 1015px) {
  .type__inner {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
  }
}
@media (max-width: 600px) {
  .type__inner {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    border-radius: 0px 30px 0 30px;
    background-color: transparent;
  }
}
.type__item {
  flex: 0 1 33.333%;
  text-align: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.type__image {
  margin-bottom: 30px;
  border-radius: 0px 50px 0 50px;
  border-bottom: 2px transparent solid;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.type__image::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 118%;
  background: rgba(16, 175, 138, 0.262745098);
  top: -20px;
  left: -20px;
  border-radius: 0 50px 0 50px;
  z-index: -1;
}
@media (max-width: 600px) {
  .type__image::before {
    width: 50%;
    height: 100%;
  }
}
.type__img {
  border-radius: 0px 50px 0 50px;
  box-shadow: rgba(27, 27, 29, 0.1843137255) 0 0 5px;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 600px) {
  .type__img {
    border-radius: 0px 30px 0 30px;
  }
}
.type__text {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
  height: 50px;
}
@media (max-width: 600px) {
  .type__text {
    height: auto;
  }
}
.type__descr {
  font-size: 16px;
}

.work {
  padding: 100px 0;
  background: rgba(44, 78, 70, 0.0274509804);
}
@media (max-width: 768px) {
  .work {
    padding: 50px 0;
  }
}
.work__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 0 20px;
}
@media (max-width: 1000px) {
  .work__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .work__inner {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
}
.work__item {
  position: relative;
}
.work__item::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: rgba(44, 78, 70, 0.2745098039);
  top: -20px;
  right: -50px;
  box-shadow: rgba(27, 27, 29, 0.1843137255) 0 0 5px;
}
.work__item::after {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  background-color: rgba(44, 78, 70, 0.2745098039);
  top: -50px;
  right: -20px;
  box-shadow: rgba(27, 27, 29, 0.1843137255) 0 0 5px;
}
@media (max-width: 600px) {
  .work__item::after {
    right: -10px;
  }
}
.work__item span {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  color: #3b3b3b;
  font-size: 20px;
  box-shadow: 0 0 15px #9ea1a1;
  font-weight: 500;
  background-color: rgba(228, 248, 244, 0.631372549);
  border-radius: 20px 0 20px 0;
  padding: 3px 10px;
}
.work__image--block {
  display: flex;
  align-items: center;
}
.work__image {
  margin-bottom: 20px;
}
.work__img {
  box-shadow: rgba(27, 27, 29, 0.1843137255) 0 0 5px;
}
.work__img-one {
  border-radius: 50px 0px 0px 0;
}
.work__img-two {
  border-radius: 0px 0px 50px 0;
}
.work__text {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}

.question {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .question {
    padding: 50px 0;
  }
}
.question__title {
  margin-bottom: 20px;
}
.question__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid rgba(48, 95, 84, 0.3098039216);
  border-right: 1px solid rgba(48, 95, 84, 0.3098039216);
  gap: 50px;
  background-color: rgba(44, 78, 70, 0.062);
  padding: 50px 50px 0 50px;
  border-radius: 50px 50px 50px 0;
}
@media (max-width: 900px) {
  .question__inner {
    padding: 25px;
  }
}
@media (max-width: 768px) {
  .question__inner {
    display: block;
    padding: 0;
    background-color: transparent;
    border-top: none;
    border-right: none;
  }
}
.question__block {
  margin: 25px 0 50px 0;
}
@media (max-width: 768px) {
  .question__block {
    margin: 0;
  }
}
.question__block--item {
  border-top: 1px solid rgba(48, 95, 84, 0.3098039216);
  padding: 15px 25px;
  border-radius: 20px 20px 20px 0;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .question__block--item {
    background-color: rgba(44, 78, 70, 0.062);
  }
}
.question__block--title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #313133;
  position: relative;
  cursor: pointer;
  padding-right: 30px;
}
.question__block--title::after, .question__block--title::before {
  content: "";
  width: 15px;
  height: 2px;
  position: absolute;
  top: 10px;
  background-color: #313133;
  transition: all 0.3s ease-in-out;
}
.question__block--title::before {
  transform: rotate(90deg);
  right: 0;
}
.question__block--title::after {
  right: 0;
}
.question__block--title.active::before {
  transform: rotate(45deg);
}
.question__block--title.active::after {
  transform: rotate(-45deg);
}
.question__block--title.active::before, .question__block--title.active::after {
  background-color: #2c4e46;
}
.question__block--text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-top: 10px;
  display: none;
}
.question__block--text::before {
  content: "";
  background-color: #D9D9D9;
  display: block;
  height: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.reviews {
  padding-bottom: 100px;
}
.reviews__slide {
  padding-bottom: 50px;
}
.reviews__img {
  border-radius: 20px 0px 20px 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0px;
}

.reviews__swiper .swiper-pagination {
  position: absolute;
  bottom: 0px;
}

.reviews__swiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #2c4e46;
}

.contact {
  padding: 50px 0;
  background-color: rgba(44, 78, 70, 0.0901960784);
  border-radius: 100px 100px 0 0;
}
@media (max-width: 768px) {
  .contact {
    padding-bottom: 20px;
    border-radius: 50px 50px 0 0;
  }
}
.contact__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 600px) {
  .contact__inner {
    justify-content: left;
    gap: 0;
  }
}
.contact__item {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 350px;
}
.contact__item svg {
  width: 50px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}
.contact__item:hover svg {
  transform: rotate(5deg);
}
@media (max-width: 1050px) {
  .contact__item {
    margin-bottom: 20px;
  }
}
.contact__link {
  color: var(--title-text);
  transition: all 0.3s ease-in-out;
}
.contact__link:hover {
  transform: translateX(5px);
}

.footer {
  padding: 10px 0;
  border-top: 1px solid rgba(44, 78, 70, 0.1725490196);
  text-align: center;
}
.footer__cooper {
  font-size: 10px;
}